[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --primary-color: #6a1b9a;
  /* Tambahkan variabel lainnya */
}
[data-theme='light'] {
  --bg-color: #ffffff;
  --text-color: #333333;
  --primary-color: #007bff;
  /* Tambahkan variabel lainnya */
}

.App {
  transition: background-color 0.5s ease;
  background-color: var(--bg-color);
  color: var(--text-color);
}